html, body, #map{
  height: 100%;
  margin: 50;
}

#instrucions{  
background-color:#FFCC33;  
padding: 50px;  
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

p{
  padding-top: 10px; 
}
