html, body, #map{
  height: 100%;
  margin: 50;
}

#instrucions{  
background-color:#FFCC33;  
padding: 50px;  
}

img {
   position: relative;
   top: 50%;
   left: 50%;
   margin-top: -50px; /* Half the height */
   margin-left: -50px; /* Half the width */
}

p{
  padding-top: 10px; 
}
