html, body, #map{
  height: 100%;
  margin: 50;
}

#instructions {
    margin: auto;
    width: 80%;
    padding: 10px;
}
#intro {
    margin: auto;
    width: 80%;
    padding: 10px;
}

#slides {
    margin: auto;
    width: 50%;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

p{
  padding-top: 10px; 
}


body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
